body {

    background-image: url('https://s8.gifyu.com/images/Screenshot-2022-06-22-at-17.28.46.png');
    background-repeat: no-repeat;
    background-position: center top;
    width: 80%;
    height: 100%;
}