@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    font-family: 'Carter One', cursive;
    padding: 0;
    margin:0;
    background-image: url('https://s8.gifyu.com/images/forestnewimg.jpg');
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;

}




#header-container {
    width: 50%;
    margin: auto;
    border:5px solid #006A77;
    border-radius: 5px;
    box-shadow: 0 0 5px greenyellow;
}

h1 {
    margin: 10px;
    background-color: #777288;
    color: white;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
}


#header {
    margin: 10px;
    background-color: #777288;
    color: white;
    font-size: 4.4rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: dotted;
}

.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.under-line {
    text-decoration: underline;
    text-decoration-style: double ;
}


.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Carter one', cursive;
    background-color: #777288;
    color: white;
    transform: scale(1.0) skew(20deg);
    border:5px solid #006A77 ;
    padding: 5px;
    margin: 16rem auto -14rem auto;
    width: 19%;
    box-shadow: 0 0 5px greenyellow;
    text-decoration: none;
    text-align: center;
}

.main-buttons:hover {
    background-color: lightgrey;
}


#start-button,
#about-button {
    margin: 14rem auto -10rem auto;

}

#about-button {
    width: 20%;
     cursor: pointer;
}



#finish-button {
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}


#about-button:hover {
    background-color: lightgrey;
}





#start-button:hover {
    background-color: lightgrey;
}



.answer-btn {
    margin: 4rem auto -3rem auto;
    text-align: left;
    cursor: pointer;
    font-size: 0.5rem;
    padding: 0;
}


 #next-btn {
    width: 10%;
    height: 40px;
    padding: 0;
    border-radius: 100px;
    margin: -18rem auto 8rem auto;
    cursor: pointer;
}

.btn:hover {
    background-color: lightgrey;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-container {
    background-color: #777288;
    width: 80vw;
    margin: 0 auto;
    border: 5px solid #006A77;
    box-shadow: 0 0 5px greenyellow;
    opacity: 1;
}

.final-background {
    background-color: #777288;
    width: 50rem;
    height: 27rem;
    margin: 5rem auto;
    border: 5px solid #006A77;
    border-radius: 20px;
    box-shadow: 0 0 5px greenyellow;
    opacity: 1;

}


h2 {
    text-align: left;
    font-size: 2rem;
    width: 40%;

}

#display-questions {
    color: white;
    width: 100%;
    font-size: 2rem;
    margin-top: 0;
}

#score-container {

    width: 40%;
    left: 100%;
    color: white;
    background-color: #777288;
    box-shadow: 0 0.5px 0 0  greenyellow;
    border: 5px solid #006A77;
    border-top: none;
}
#score-counter {
    font-size: 1rem;
}


.correct {
    background-color: #17D062;
}
.incorrect {
    background-color: crimson;
}

.hide {
    display: none;

}

.disable-pointer {
    pointer-events: none;
}



#quiz-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: #777288;
    color: white;
    width: 30%;
    margin: 8rem auto 0 auto;
    border-radius: 15px;

}


.home-button {
    margin: o auto;
    padding: 1px 1px;
    border: 3px solid #006A77;
    border-radius: 15px;
    box-shadow: 0 0 5px greenyellow;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color:white;
    background-color: #777288;
    opacity: 0.8;
}

.home-button:hover {
    font-size: larger;
    background-color: lightgrey;
}


.final-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
    text-align: center;
    
}


#display-results,
#result-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#form-results {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

input {
    padding: 15px 0px;
    width: 60%;
    box-shadow: 0 0 5px greenyellow;
    transform: scale(1.0) skew(20deg);
    text-align: center;
    border: 5px solid #006A77;
}

#restart-button,
#home-button {
    margin: 1.5rem 0 -0.5rem 0;
    padding: 0 5px 0 0;
    transform: scale(1.0) skew(20deg);
    box-shadow: 0 0 5px greenyellow;
    width: 60%;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    background-color: #777288;
    color: white;
    border: 5px solid #006A77;
}
#submit-button {
    margin: 1rem 0 -10rem 0;
    transform: scale(1.0) skew(20deg);
    box-shadow: 0 0 5px greenyellow;
    width: 60%;
    padding: 10px 0px;
    font-family: 'Carter One', cursive;
    color: white;
    background-color: #777288;
    font-size: 1rem;
    border: 5px solid #006A77;
    cursor: pointer;

}

#high-score {
    text-decoration: underline;
    text-align: center;
    color: white;

}


#footer {
    background-color: #777288;
    width: 100vw;
    height:4.5vh;
    position: absolute;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;

    
}

#copy-rights {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 0 auto;
    
}

#social-media {
    display: flex;
    flex-direction: row;
    align-items:center;
    left: 100%;
    text-decoration: none;
    list-style: none;
    color: white;

}


.fa-brands {
    color: white;
    font-size: 2rem;
    box-shadow: 0 0 5px greenyellow;
}

.fa-solid {
    color: greenyellow;
}
.fa-brands:hover {
    font-size: 2.5rem ;
}








/** Media queries **/ 

@media  screen and (max-width: 1629px) {
    #start-button,
    #about-button {
        margin: 1rem auto 4rem auto ;

    }
    #score-container {
        font-size: 2.2rem;
        width: 10%;
    }


    #display-questions {
        font-size: 3rem;
    }

    .answer-btn {
        margin: 10rem auto -7rem auto;
        width:35%;
        font-size: 2rem;
    }

    #next-btn {
        width: 20%;
        padding: 3px;
        margin: 10rem auto;
        font-size: 1.5rem;
    }
 
}

@media  screen and (max-width: 1400px) {
    #start-button {
        width: 29%;

    }

    #about-button {
        width: 30%;
    }
    #start-button,
    #about-button {
       
        margin: 8rem auto -3rem auto;

    }
}


@media  screen and (max-width: 1280px) {

    #header {
        font-size: 4.4rem;
       
    }


    #start-button,
    #about-button {
       
        margin: 8rem auto -4rem auto;

    }

    #quiz-info {
        width: 50%;
        margin: 3rem auto 0 auto;
        line-height: 1;
        
    
        
    }

    #score-container {
        font-size: 1.5rem;
        width: 10%;
    }


    #display-questions {
        font-size: 2.2rem;
        
    }

    .answer-btn {
        margin: 6rem auto -2rem auto;
        width:35%;
        font-size: medium;
        position: relative;
    }

    #next-btn {
        width: 20%;
        padding: 3px;
        margin: 4rem auto;
        font-size: small;
    }
}


@media  screen and (max-width: 1030px) {
    #header {
        font-size: 3rem;
       
    }

    #start-button,
    #about-button {
        margin: 4rem auto -1rem auto ;

    }

    #quiz-info {
        width: 50%;
        margin: 2rem auto 0 auto;
        text-align: left;
        
    }
    
    #score-container {
        font-size: 1.2rem;
        width: 10%;
    }


    #display-questions {
        font-size: 1.5rem;
    }

    .answer-btn {
        margin: 6.8rem auto -6rem auto;
        width:35%;
        font-size: large;
    }

    #next-btn {
        width: 20%;
        padding: 3px;
        margin: 7.4rem auto;
        font-size: small;
    }

    #footer {
        height: 5vh;
    }
}




@media  screen and (max-width: 1000px) {

    #header {
        font-size: 2rem;
        padding: 30px 10px;
    }
    #start-button,
    #about-button {
        width: 30%;
        font-size: 2rem;
        margin: 20rem auto -16rem auto;
    }

    #score-container {
        font-size: 2rem;
        width: 20%;
    }


    #display-questions {
        font-size: 2rem;
        padding: 25px 0;
        margin-top: 0;
    }

    .answer-btn {
        margin: 10rem auto -6rem auto;
        width: 50%;
        padding: 5px;
        font-size: 1.5rem;
    }

    #next-btn {
        width: 30%;
        padding: 5px;
        margin: 12rem auto;
        font-size: 1.3rem;
    }
    #about-button {
        width: 32%;
    }
  
}



@media  screen and (max-width: 914px) {
    #start-button,
    #about-button  {
        width: 40%;
        margin: 25rem auto -20rem auto;
        font-size: 2.5rem;

    }


    #header {
        font-size: 3.5rem;
       
    }

    #score-container {
        font-size: 2rem;
        width: 20%;
    }


    #display-questions {
        font-size: 2rem;
        padding: 25px 0;
        margin-top: 0;
    }

    .answer-btn {
        margin: 12rem auto -8rem auto;
        width: 60%;
        padding: 5px;
        font-size: 2rem;
    }

    #next-btn {
        width: 35%;
        padding: 20px;
        margin: 12rem auto;
        font-size: 2rem;
    }

    #about-button {
        width: 42%;
    }

    #quiz-info {
        width: 90%;
        margin: 6rem auto 0 auto;
        font-size: 1.3rem;
        
    }

    #how-to {
        font-size: 3.1rem;
    }

    #footer {
        width: 100vw;
        height: 4vh;
    }

    
}

@media  screen and (max-width: 820px) {
    .answer-btn {
        margin: 10rem auto -7rem auto;
        width: 60%;
        padding: 5px;
        font-size: 1.5rem;
    }

    #next-btn {
        width: 40%;
        padding: 5px;
        margin: 10rem auto;
        font-size: large;
    }

}



@media  screen and (max-width: 768px) {
    #start-button,
    #about-button {
        width: 40%;
        font-size: 2rem;
        margin: 20rem auto -16rem auto;

    }

    #header {
        font-size: 3rem;
    }

    #score-container {
        font-size: 1.8rem;
        width: 20%;
    }


    #display-questions {
        font-size: 1.9rem;
    }

    .answer-btn {
        margin: 7rem auto -5rem auto;
        width: 60%;
        padding: 0;
        font-size: 1.5rem;
    }

    #next-btn {
        width: 40%;
        padding: 5px;
        margin: 7rem auto;
        font-size: large;
    }

    #about-button {
        width: 43%;
    }

    #quiz-info {
        width: 90%;
        margin: 4rem auto 0 auto;
        font-size: 1.2rem;
        
    }

    #how-to {
        font-size: 2.9rem;
    }

    #footer {
        width: 100vw;
        height: 4vh;
    }
}


@media  screen and (max-width: 586px) {

    #start-button,
    #about-button {
        margin: 10rem auto -7rem auto;
        font-size: 1.5rem;
    }

    #header {
        font-size: 2.5rem;
        padding: 10px 10px;
    }
    #score-container {
        font-size: 1.2rem;
        width: 20%;
    }


    #display-questions {
        font-size: 1.3rem;
    
    }

    .answer-btn {
        margin: 5rem auto -3rem auto;
        width: 60%;
        padding: 5px;
        font-size: 1rem;
    }

    #next-btn {
        width: 30%;
        padding: 0;
        margin: 6rem auto;
        font-size: small;
    }
    #display-results h1 {
        font-size: 1.5rem;
    }

    .final-background {
        width: 280px;
        height:22rem;
        margin: 8rem auto;
    
    }

    #restart-button,
    #home-button {
    margin: 1.5rem 0 -0.5rem 0;
    width: 50%;
    font-size: small;
    padding: 3px 15px;
    }



    #submit-button {
    margin: 1rem 0rem -10rem 0;
    width: 80%;
    padding: 3px 25px;
    font-size: small;

    }
    #form-results {
        font-size: 1rem;
        margin: 0;
        width: 80%;
    }
    
    input {
        padding: 7px 10px;
        margin-top: 1rem;
        width: 68%;
        margin: 0 auto;
    }

    #quiz-info {
        width: 90%;
        margin: 2rem auto 0 auto;
        font-size: 1rem;
        
    }

    #how-to {
        font-size: 2rem;
    }
}







@media  screen and (max-width: 480px) {
    #header {
        font-size: 1.6rem;
        width: 82%;
        padding: 20px 10px;
    }

    #score-container {
        font-size: 1.1rem;
        width: 20%;
    }


    #display-questions {
        font-size: 1rem;
    }

    .answer-btn {
        margin: 9rem auto -8rem auto;
        width: 60%;
        padding: 3px;
    }

    #next-btn {
        width: 40%;
        padding: 1px;
        margin: 9rem auto;
        font-size: medium;
    }


    #start-button,
    #about-button {
       
        margin: 15rem auto -12rem auto;

    }

    #display-results h1 {
        font-size: 1.5rem;
    }

    .final-background {
        width: 280px;
        height:22rem;
        margin: 8rem auto;
    
    }

    #restart-button,
    #home-button {
    margin: 1.5rem 0 -0.5rem 0;
    width: 50%;
    font-size: small;
    padding: 3px 15px;
    }



    #submit-button {
    margin: 1rem 0rem -10rem 0;
    width: 80%;
    padding: 3px 25px;
    font-size: small;

    }
    #form-results {
        font-size: 1rem;
        margin: 0;
        width: 80%;
    }
    
    input {
        padding: 7px 10px;
        margin-top: 1rem;
        width: 68%;
        margin: 0 auto;
    }

    


    #quiz-info {
        width: 90%;
        margin: 8rem auto 0 auto;
        font-size: 0.8rem;
        
    }

    #how-to {
        font-size: 1.6rem;
    }

    #footer {
        width: 100vw;
        height: 4vh;
    }
}



@media  screen and (max-width: 393px) {
    #header {
        font-size: 1.5rem;
        width: 80%;
        padding: 20px 10px;
    }

    #score-container {
        font-size: 0.9rem;
        width: 20%;
    }


    #display-questions {
        font-size: 1rem;
    }

    .answer-btn {
        margin: 6rem auto -5rem auto;
        width: 60%;
        font-size: small;
        padding: 6px;
    }

    #next-btn {
        width: 40%;
        padding: 0;
        margin: 7rem auto;
        font-size: small;
    }

    #start-button,
    #about-button {
       
        margin: 12rem auto -10rem auto;
        font-size: 1rem;

    }

    #display-results h1 {
        font-size: 1.5rem;
    }

    .final-background {
        width: 280px;
        height:22rem;
        margin: 8rem auto;
    
    }

    #restart-button,
    #home-button {
    margin: 1.5rem 0 -0.5rem 0;
    width: 50%;
    font-size: small;
    padding: 3px 15px;
    }



    #submit-button {
    margin: 1rem 0rem -10rem 0;
    width: 80%;
    padding: 3px 25px;
    font-size: small;

    }
    #form-results {
        font-size: 1rem;
        margin: 0;
        width: 80%;
    }
    
    input {
        padding: 6px 10px;
        margin-top: 1rem;
        width: 68%;
        margin: 0 auto;
    }

    #quiz-info {
        width: 90%;
        margin: 5.5rem auto 0 auto;
        font-size: 0.8rem;
        
    }

    #how-to {
        font-size: 1rem;
    }

    #footer {
        width: 100vw;
        height: 4.5vh;
    }
}




@media  screen and (max-width: 280px) {
    #header {
        font-size: 1rem;
        padding: 30px 5px;
    }
    #score-container {
        font-size: 0.7rem;
        width: 20%;
    }


    #display-questions {
        font-size: 0.9rem;
        padding: 0;
    }

    .answer-btn {
        margin: 7rem auto -5rem auto;
        width: 70%;
        font-size: small;
        padding: 2px;
    }

    #next-btn {
        width: 40%;
        padding: 0;
        margin: 7rem auto;
        font-size: small;
    }


    #start-button,
    #about-button {
       
        margin: 8rem auto -6rem auto;
        font-size: small;
        width: 48%;

    }

    #about-button {
        width: 55%;
    }

    .final-background {
        width: 15rem;
        height:26rem;
        margin: 5rem auto;
    
    }

    #quiz-info {
        width: 90%;
        margin: 3rem auto 0 auto;
        font-size: 0.7rem;
        
    }

    #how-to {
        font-size: 1rem;
    }

    #footer {
        width: 100vw;
        height: 6vh;
    }
}